<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>게시판 목록</title>
</head>
<body>
    <div>
        게시판 목록
        <ul th:each="article : ${articleList}">
            <li th:text="${articleStat.count}"></li>
            <li th:text="${article.title}"></li>
            <a th:href="@{/article/detail/{id}(id=${article.id})}">상세 게시판</a>
        </ul>
    </div>
    <a href="/article/create_form">게시글 등록</a>
</body>
</html>
