<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/article/searchPage" method="post" role="search">
        <input type="text" name="keyword" placeholder="검색">
        <button type="submit"></button>
    </form>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
<!--                <th>작성자</th>-->
                <th>등록일</th>
<!--                <th>조회수</th>-->
            </tr>
        </thead>

        <tbody>
            <tr th:each="articles : ${searchList}">
                <td th:text="${articles.id}"></td>
                <td th:text="${articles.title}"><a href="/posts/read/{{id}}">{{title}}</a></td>
                <td th:text="${articles.createdDate}"></td>
    <!--            작성자 구현, 조회수 구현-->
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/article/create_form" role="button"> 글쓰기</a>
    </div>



</body>
</html>